.movies-container {
    padding: 20px;
}

    .movies-container h1 {
        font-size: 2em;
        margin-bottom: 20px;
    }

.movie-item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 15px;
    text-align: left;
    display: flex;
    align-items: center;
}

    .movie-item h3 {
        margin: 0;
        font-size: 1.5em;
        flex: 1;
    }

    .movie-item p {
        margin: 0;
        font-size: 1em;
        line-height: 1.6;
        flex: 2;
        text-align: right;
        padding-left: 20px;
    }
